<!DOCTYPE html>
<html>
<head>
    <title>Flowchart</title>
    <meta name="description" content="Interactive flowchart diagram implemented by GoJS in JavaScript for HTML."/>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.1.0/theme-chalk/index.css">
    <style>
        #sample .el-dialog__wrapper .el-dialog {
            width: 80%
        }

        .editDialog .uploadFile {
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
        }

        .editDialog .formlabel {
            height: 40px;
            line-height: 40px;
            border: 1px solid #d8dce5;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px;
            margin-right: 20px;
            padding: 0 15px;
            position: relative;
            cursor: pointer;
        }
    </style>
    <!-- 先引入 Vue -->
    <script src="../js/lib/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../js/lib/element-ui.js"></script>
    <script src="../js/lib/go-debug.js"></script>
    <script id="code">
        function init() {
            window.myVue = new Vue({
                el: '#sample',
                data: function () {
                    return {
                        outerVisible: true,
                        dialogFormVisible: false,
                        form: {
                            jobKey: '',
                            jobType: '',
                            command: '',
                            jobName: '',
                            jobDependencies: ''
                        },
                        formLabelWidth: '120px',
                        rules: {
                            command: {type: 'string', required: true, message: '请选择', trigger: 'change'}
                        },
                        uploadInfo: '选择.sh文件上传',
                        file: null,
                        initJson: {}
                    }
                },
                mounted: function () {
                    this.initJson = {
                        "class": "go.GraphLinksModel",
                        "linkFromPortIdProperty": "fromPort",
                        "linkToPortIdProperty": "toPort",
                        "nodeDataArray": [
                            {
                                "category": "Command",
                                "text": "Command1",
                                "key": -2,
                                "loc": "-93.90625 -344.50000000000006"
                            },
                            {"category": "Command", "text": "Command2", "key": -3, "loc": "-111.796875 -289.25"},
                            {"category": "End", "text": "End", "key": -4, "loc": "-115.796875 -214.25"},
                            {"category": "Start", "text": "Start", "key": -1, "loc": "-91.796875 -416.25"}
                        ],
                        "linkDataArray": [
                            {
                                "from": -2,
                                "to": -3,
                                "fromPort": "B",
                                "toPort": "T",
                                "points": [-93.90625, -328.06227569580085, -93.90625, -318.06227569580085, -93.90625, -316.875, -111.796875, -316.875, -111.796875, -315.6877243041992, -111.796875, -305.6877243041992]
                            },
                            {
                                "from": -1,
                                "to": -2,
                                "fromPort": "B",
                                "toPort": "T",
                                "points": [-91.796875, -390.91365938408427, -91.796875, -380.91365938408427, -91.796875, -375.92569184414174, -93.90625, -375.92569184414174, -93.90625, -370.93772430419926, -93.90625, -360.93772430419926]
                            },
                            {
                                "from": -3,
                                "to": -4,
                                "fromPort": "B",
                                "toPort": "T",
                                "points": [-111.796875, -272.8122756958008, -111.796875, -262.8122756958008, -111.796875, -254.07549763169402, -115.796875, -254.07549763169402, -115.796875, -245.33871956758722, -115.796875, -235.33871956758722]
                            }
                        ]
                    }
                },
                methods: {
                    changeFiles: function (e) {
                        let _this = this
                        this.file = e.target.files[0]
                        this.uploadInfo = '文件上传中...'
                        var reader = new FileReader()
                        reader.readAsDataURL(this.file)
                        reader.onload = function (e) {
                            _this.uploadInfo = _this.file.name + ' 上传完成，点击重新上传'
                        }
                        this.$refs.fileRef.value = ''
                    },
                    handleClose: function () {
                        this.uploadInfo = '选择.sh文件上传'
                        this.$refs.fileRef.value = ''
                        this.file = null
                    },
                    submitForm: function (formName) {
                        var _this = this
                        this.$refs[formName].validate(function (valid) {
                            if (valid) {
                                if (_this.file !== null) {
                                    let formData = new FormData()
                                    formData.append('command', _this.form.command)
                                    formData.append('file', _this.file)
                                    // post请求
                                } else {
                                    _this.$message({
                                        type: 'warn',
                                        message: '请先选择你要上传的文件！',
                                        duration: 3000,
                                        showClose: true
                                    })
                                }
                            } else {
                                return false
                            }
                        })
                    },
                    submitTask: function () {
                        console.log(111)
                    }
                }
            })
            Vue.nextTick(function () {
                var MAKE = go.GraphObject.make;  // for conciseness in defining templates
                myDiagram =
                    MAKE(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
                        {
                            initialContentAlignment: go.Spot.Center,
                            allowDrop: true,  // must be true to accept drops from the Palette
                            "LinkDrawn": showLinkLabel,  // this DiagramEvent listener is defined below
                            "LinkRelinked": showLinkLabel,
                            "animationManager.duration": 800, // slightly longer than default (600ms) animation
                            "undoManager.isEnabled": true  // enable undo & redo
                        });
                // when the document is modified, add a "*" to the title and enable the "Save" button
                myDiagram.addDiagramListener("Modified", function (e) {
                    var button = document.getElementById("SaveButton");
                    if (button) button.disabled = !myDiagram.isModified;
                    var idx = document.title.indexOf("*");
                    if (myDiagram.isModified) {
                        if (idx < 0) document.title += "*";
                    } else {
                        if (idx >= 0) document.title = document.title.substr(0, idx);
                    }
                });
                // helper definitions for node templates
                function nodeStyle() {
                    return [
                        // The Node.location comes from the "loc" property of the node data,
                        // converted by the Point.parse static method.
                        // If the Node.location is changed, it updates the "loc" property of the node data,
                        // converting back using the Point.stringify static method.
                        new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                        {
                            // the Node.location is at the center of each node
                            locationSpot: go.Spot.Center,
                            //isShadowed: true,
                            //shadowColor: "#888",
                            // handle mouse enter/leave events to show/hide the ports
                            mouseEnter: function (e, obj) {
                                showPorts(obj.part, true);
                            },
                            mouseLeave: function (e, obj) {
                                showPorts(obj.part, false);
                            },
                            doubleClick: function (e, obj) {
                                if (obj.data.category === "Command" && obj.data.loc.split(' ')[0] !== '0') {
                                    window.myVue.form.jobKey = obj.data.key
                                    window.myVue.form.jobType = obj.data.category
                                    window.myVue.form.jobName = obj.data.text
                                    window.myVue.dialogFormVisible = true
                                    // 计算该任务的依赖
                                    var fromKeyArr = []
                                    var linkLen = window.myVue.initJson.linkDataArray.length
                                    for (var i = 0; i < linkLen; i++) {
                                        if (window.myVue.initJson.linkDataArray[i].to === obj.data.key) {
                                            fromKeyArr.push(window.myVue.initJson.linkDataArray[i].from)
                                        }
                                    }
                                    console.log('fromKeyArr=')
                                    console.log(fromKeyArr)
//                                    console.log('window.myVue.initJson.nodeDataArray=')
//                                    console.log(window.myVue.initJson.nodeDataArray)
                                    var fromTextArr = []
                                    var nodeLen = window.myVue.initJson.nodeDataArray.length
                                    for (var i = 0; i < nodeLen; i++) {
                                        console.log(window.myVue.initJson.nodeDataArray[i])
                                    }
                                }
                                 console.log(obj.data)
                                 console.log(obj.data.key)
//                                 console.log(obj.data.text)
                            }
                        }
                    ];
                }

                // Define a function for creating a "port" that is normally transparent.
                // The "name" is used as the GraphObject.portId, the "spot" is used to control how links connect
                // and where the port is positioned on the node, and the boolean "output" and "input" arguments
                // control whether the user can draw links from or to the port.
                function makePort(name, spot, output, input) {
                    // the port is basically just a small circle that has a white stroke when it is made visible
                    return MAKE(go.Shape, "Circle",
                        {
                            fill: "transparent",
                            stroke: null,  // this is changed to "white" in the showPorts function
                            desiredSize: new go.Size(8, 8),
                            alignment: spot, alignmentFocus: spot,  // align the port on the main Shape
                            portId: name,  // declare this object to be a "port"
                            fromSpot: spot, toSpot: spot,  // declare where links may connect at this port
                            fromLinkable: output, toLinkable: input,  // declare whether the user may draw links to/from here
                            cursor: "pointer"  // show a different cursor to indicate potential link point
                        });
                }

                // define the Node templates for regular nodes
                var lightText = 'whitesmoke';
                myDiagram.nodeTemplateMap.add("",  // the default category
                    MAKE(go.Node, "Spot", nodeStyle(),
                        // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
                        MAKE(go.Panel, "Auto",
                            MAKE(go.Shape, "Rectangle",
                                {fill: "#00A9C9", stroke: null},
                                new go.Binding("figure", "figure")),
                            MAKE(go.TextBlock,
                                {
                                    font: "bold 11pt Helvetica, Arial, sans-serif",
                                    stroke: lightText,
                                    margin: 8,
                                    maxSize: new go.Size(160, NaN),
                                    wrap: go.TextBlock.WrapFit,
                                    editable: true
//                                    editable: false
                                },
                                new go.Binding("text").makeTwoWay())
                        ),
                        // four named ports, one on each side:
                        makePort("T", go.Spot.Top, false, true),
                        makePort("L", go.Spot.Left, true, true),
                        makePort("R", go.Spot.Right, true, true),
                        makePort("B", go.Spot.Bottom, true, false)
                    ));
                myDiagram.nodeTemplateMap.add("Command",  // the default category
//                    MAKE(go.Node, "Spot",
                    MAKE(go.Node, "Spot", nodeStyle(),
                        // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
                        MAKE(go.Panel, "Auto",
                            MAKE(go.Shape, "Rectangle",
                                {fill: "#00A9C9", stroke: null},
                                new go.Binding("figure", "figure")),
                            MAKE(go.TextBlock, "command",
                                {
                                    font: "bold 11pt Helvetica, Arial, sans-serif",
                                    stroke: lightText,
                                    margin: 8,
                                    maxSize: new go.Size(160, NaN),
                                    wrap: go.TextBlock.WrapFit,
                                    editable: true
//                                    editable: false
                                },
                                new go.Binding("text").makeTwoWay())
                        ),
                        // four named ports, one on each side:
                        makePort("T", go.Spot.Top, false, true),
                        makePort("L", go.Spot.Left, true, true),
                        makePort("R", go.Spot.Right, true, true),
                        makePort("B", go.Spot.Bottom, true, false)
                    ));
                myDiagram.nodeTemplateMap.add("Start",
                    MAKE(go.Node, "Spot", nodeStyle(),
                        MAKE(go.Panel, "Auto",
                            MAKE(go.Shape, "Circle",
                                {minSize: new go.Size(40, 40), fill: "#79C900", stroke: null}),
                            MAKE(go.TextBlock, "Start",
                                {
                                    font: "bold 11pt Helvetica, Arial, sans-serif", stroke: lightText,
//                                    editable: true
                                    editable: false
                                },
                                new go.Binding("text"))
                        ),
                        // three named ports, one on each side except the top, all output only:
                        makePort("L", go.Spot.Left, true, false),
                        makePort("R", go.Spot.Right, true, false),
                        makePort("B", go.Spot.Bottom, true, false)
                    ));
                myDiagram.nodeTemplateMap.add("End",
                    MAKE(go.Node, "Spot", nodeStyle(),
                        MAKE(go.Panel, "Auto",
                            MAKE(go.Shape, "Circle",
                                {minSize: new go.Size(40, 40), fill: "#DC3C00", stroke: null}),
                            MAKE(go.TextBlock, "End",
                                {
                                    font: "bold 11pt Helvetica, Arial, sans-serif",
                                    stroke: lightText,
                                    editable: false
                                },
                                new go.Binding("text"))
                        ),
                        // three named ports, one on each side except the bottom, all input only:
                        makePort("T", go.Spot.Top, false, true),
                        makePort("L", go.Spot.Left, false, true),
                        makePort("R", go.Spot.Right, false, true)
                    ));
                myDiagram.nodeTemplateMap.add("Comment",
                    MAKE(go.Node, "Auto", nodeStyle(),
                        MAKE(go.Shape, "File",
                            {fill: "#EFFAB4", stroke: null}),
                        MAKE(go.TextBlock,
                            {
                                margin: 5,
                                maxSize: new go.Size(200, NaN),
                                wrap: go.TextBlock.WrapFit,
                                textAlign: "center",
                                editable: true,
                                font: "bold 12pt Helvetica, Arial, sans-serif",
                                stroke: '#454545'
                            },
                            new go.Binding("text").makeTwoWay())
                        // no ports, because no links are allowed to connect with a comment
                    ));
                // replace the default Link template in the linkTemplateMap
                myDiagram.linkTemplate =
                    MAKE(go.Link,  // the whole link panel
                        {
                            routing: go.Link.AvoidsNodes,
                            curve: go.Link.JumpOver,
                            corner: 5, toShortLength: 4,
                            relinkableFrom: true,
                            relinkableTo: true,
                            reshapable: true,
                            resegmentable: true,
                            // mouse-overs subtly highlight links:
                            mouseEnter: function (e, link) {
                                link.findObject("HIGHLIGHT").stroke = "rgba(30,144,255,0.2)";
                            },
                            mouseLeave: function (e, link) {
                                link.findObject("HIGHLIGHT").stroke = "transparent";
                            }
                        },
                        new go.Binding("points").makeTwoWay(),
                        MAKE(go.Shape,  // the highlight shape, normally transparent
                            {isPanelMain: true, strokeWidth: 8, stroke: "transparent", name: "HIGHLIGHT"}),
                        MAKE(go.Shape,  // the link path shape
                            {isPanelMain: true, stroke: "gray", strokeWidth: 2}),
                        MAKE(go.Shape,  // the arrowhead
                            {toArrow: "standard", stroke: null, fill: "gray"}),
                        MAKE(go.Panel, "Auto",  // the link label, normally not visible
                            {visible: false, name: "LABEL", segmentIndex: 2, segmentFraction: 0.5},
                            new go.Binding("visible", "visible").makeTwoWay(),
                            MAKE(go.Shape, "RoundedRectangle",  // the label shape
                                {fill: "#F8F8F8", stroke: null}),
                            MAKE(go.TextBlock, "Yes",  // the label
                                {
                                    textAlign: "center",
                                    font: "10pt helvetica, arial, sans-serif",
                                    stroke: "#333333",
                                    editable: true
                                },
                                new go.Binding("text").makeTwoWay())
                        )
                    );
                // Make link labels visible if coming out of a "conditional" node.
                // This listener is called by the "LinkDrawn" and "LinkRelinked" DiagramEvents.
                function showLinkLabel(e) {
                    var label = e.subject.findObject("LABEL");
                    if (label !== null) label.visible = (e.subject.fromNode.data.figure === "Diamond");
                }

                // temporary links used by LinkingTool and RelinkingTool are also orthogonal:
                myDiagram.toolManager.linkingTool.temporaryLink.routing = go.Link.Orthogonal;
                myDiagram.toolManager.relinkingTool.temporaryLink.routing = go.Link.Orthogonal;
                load();  // load an initial diagram from some JSON text
                // initialize the Palette that is on the left side of the page
                myPalette =
                    MAKE(go.Palette, "myPaletteDiv",  // must name or refer to the DIV HTML element
                        {
                            "animationManager.duration": 800, // slightly longer than default (600ms) animation
                            nodeTemplateMap: myDiagram.nodeTemplateMap,  // share the templates used by myDiagram
                            model: new go.GraphLinksModel([  // specify the contents of the Palette
                                {category: "Start", text: "Start"},
                                {category: "Command", text: "Command"},
//                            {text: "???", figure: "Diamond"},
                                {category: "End", text: "End"}
//                            {category: "Comment", text: "Comment"}
                            ])
                        });
            })
        }
        // Make all ports on a node visible when the mouse is over the node
        function showPorts(node, show) {
            var diagram = node.diagram;
            if (!diagram || diagram.isReadOnly || !diagram.allowLink) return;
            node.ports.each(function (port) {
                port.stroke = (show ? "white" : null);
            });
        }
        // Show the diagram's model in JSON format that the user may edit
        function save() {
            console.log('save')
            window.myVue.initJson = myDiagram.model.toJson();
//            document.getElementById("mySavedModel").value = myDiagram.model.toJson();
//            console.log(document.getElementById("mySavedModel").value)
            console.log(window.myVue.initJson)
            myDiagram.isModified = false;
        }
        function load() {
            myDiagram.model = go.Model.fromJson(window.myVue.initJson);
//            myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
        }
        function showOuterDialog() {
            window.myVue.outerVisible = true
        }
    </script>
</head>
<body onload="init()">
<!--<div onclick="showOuterDialog()">显示外层div</div>-->
<div id="sample">
    <el-dialog title="任务流程" :visible.sync="outerVisible">
        <div style="width:100%; white-space:nowrap;">
            <span style="display: inline-block; vertical-align: top; padding: 5px; width:120px">
              <div id="myPaletteDiv" style="border: solid 1px gray; height: 400px"></div>
            </span>

            <span style="display: inline-block; vertical-align: top; padding: 5px; width:40%">
              <div id="myDiagramDiv" style="border: solid 1px gray; height: 400px"></div>
            </span>
        </div>
        <button id="SaveButton" onclick="save()">保存任务</button>
        <button @click="submitTask">提交任务</button>
        <!--<el-button type="primary" @click="submitTask">提交任务</el-button>-->
        <button onclick="load()" style="display: none">Load</button>
        <!--Diagram Model saved in JSON format:-->
        <textarea id="mySavedModel" style="width:100%;height:300px;display: none;">
{ "class": "go.GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [
{"category":"Command", "text":"Command1", "key":-2, "loc":"-93.90625 -344.50000000000006"},
{"category":"Command", "text":"Command2", "key":-3, "loc":"-111.796875 -289.25"},
{"category":"End", "text":"End", "key":-4, "loc":"-115.796875 -214.25"},
{"category":"Start", "text":"Start", "key":-1, "loc":"-91.796875 -416.25"}
 ],
  "linkDataArray": [
{"from":-2, "to":-3, "fromPort":"B", "toPort":"T", "points":[-93.90625,-328.06227569580085,-93.90625,-318.06227569580085,-93.90625,-316.875,-111.796875,-316.875,-111.796875,-315.6877243041992,-111.796875,-305.6877243041992]},
{"from":-1, "to":-2, "fromPort":"B", "toPort":"T", "points":[-91.796875,-390.91365938408427,-91.796875,-380.91365938408427,-91.796875,-375.92569184414174,-93.90625,-375.92569184414174,-93.90625,-370.93772430419926,-93.90625,-360.93772430419926]},
{"from":-3, "to":-4, "fromPort":"B", "toPort":"T", "points":[-111.796875,-272.8122756958008,-111.796875,-262.8122756958008,-111.796875,-254.07549763169402,-115.796875,-254.07549763169402,-115.796875,-245.33871956758722,-115.796875,-235.33871956758722]}
 ]}
        </textarea>
        <el-dialog class='editDialog' title="编辑" :visible.sync="dialogFormVisible" @close="handleClose" append-to-body>
            <el-form :model="form" :rules="rules" ref="ruleForm">
                <el-form-item label="任务Key：" :label-width="formLabelWidth">
                    <el-input v-model="form.jobKey" auto-complete="off" disabled></el-input>
                    </el-input>
                </el-form-item>
                <el-form-item label="任务类型：" :label-width="formLabelWidth">
                    <el-input v-model="form.jobType" auto-complete="off" disabled></el-input>
                    </el-input>
                </el-form-item>
                <el-form-item label="任务名称：" :label-width="formLabelWidth">
                    <el-input v-model="form.jobName" auto-complete="off" disabled></el-input>
                    </el-input>
                </el-form-item>
                <el-form-item label="命令语句：" :label-width="formLabelWidth" prop="command">
                    <el-input type="textarea" :rows="3" placeholder="请输入内容" v-model="form.command">
                    </el-input>
                </el-form-item>
                <el-form-item label="上传sh文件：" :label-width="formLabelWidth">
                    <label for="file" class="formlabel">
                        <span>{{ uploadInfo }}</span>
                        <input class="uploadFile" type="file" name="file" id='file' @change="changeFiles" ref='fileRef'
                               accept=".sh">
                    </label>
                </el-form-item>
                <el-form-item label="任务依赖：" :label-width="formLabelWidth">
                    <el-input v-model="form.jobDependencies" auto-complete="off" disabled></el-input>
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>
    </el-dialog>
</div>
</body>
</html>
